* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-color: #424BD0;
    --dark-text-color: #282943;
    --primery-color: #fff;
    --light-color: rgba(40, 41, 67, 0.15);
    --para-lineheight: 130%;
    --satoshi-regular: Satoshi-regular;
    --satoshi-light: Satoshi-light;
}

@font-face {
    font-family: 'Satoshi-regular';
    src: url('../fonts/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-light';
    src: url('../fonts/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

header .nav,
.hero__container,
.services__container {
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 2rem;
}

header {
    border-bottom: 1px solid var(--light-color);
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav__link {
    text-decoration: none;
    color: var(--dark-text-color);
    font-family: var(--satoshi-regular);
    font-size: 18px;
    font-weight: 500;
}

.nav__link-btn {
    background: #424BD033;
    color: var(--btn-color);
}

.same-btn {
    padding: 9px 22px;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    font-family: var(--satoshi-regular);
    font-size: 18px;
}

/* hero section */
.hero__container {
    padding: 0 5rem;
}

.hero__info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__logos {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.hero__image {
    max-width: 577px;
    width: 100%;
}

.hero__title {
    font-size: 72px;
    font-weight: 700;
    color: var(--dark-text-color);
    font-family: var(--satoshi-regular);
    line-height: 122%;
}

.hero__info {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__desc {
    font-size: 24px;
    font-family: var(--satoshi-regular);
    font-weight: 500;
    color: var(--dark-text-color);
    line-height: 135%;
}

.hero__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 16px;
}

.lets__talk {
    background: var(--btn-color);
    color: var(--primery-color);
}

.see__case {
    color: var(--btn-color);
}

.hero__info-wrapper {
    padding-top: 3rem;
}

.hero__clients {
    padding: 5rem 0;
}

.hero__clients-title {
    font-size: 24px;
    font-family: var(--satoshi-regular);
    color: var(--dark-text-color);
    font-weight: 500;
}

.hero__logo {
    position: absolute;
    right: 0;
    top: 0;
}

.hero__logo img {
    width: 35vw;
}

.hero {
    position: relative;
}

.hero__container {
    position: relative;
    z-index: 1;
}

/* services section */
.services {
    background: #F9F9FF;
}

.services__container {
    padding: 120px 5rem;
}

.same__heading2 {
    font-size: 46px;
    font-weight: 700;
    font-family: var(--satoshi-regular);
    color: var(--dark-text-color);
}

.services__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.services__card {
    padding: 40px 52px 40px 40px;
    background: var(--primery-color);
    border-radius: 12px;
    border-bottom-right-radius: 100px;
    transition: all .3s ease-in-out;
}

.services__card-description {
    font-size: 18px;
    font-family: var(--satoshi-light);
    font-weight: 400;
    color: var(--dark-text-color);
    line-height: var(--para-lineheight);
    transition: all .3s ease-in-out;
}

.services__name {
    font-size: 28px;
    font-family: var(--satoshi-regular);
}

.services__card-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.services__card-footer a {
    font-family: var(--satoshi-regular);
    text-decoration: none;
    color: var(--btn-color);
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

.services__card-footer a:hover {
    text-decoration: underline;
}

.services__description {
    font-size: 20px;
    font-family: var(--satoshi-light);
    line-height: var(--para-lineheight);
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 25px;
}

.services__card:hover {
    background: var(--btn-color);
    color: var(--primery-color);
    transform: rotate(-3deg);
    transform-origin: left bottom;
}

.services__card:hover .services__card-footer a {
    color: var(--primery-color);
}

.services__card:hover .services__card-description {
    color: var(--primery-color);
}

.services__icon img {
    transition: all .3s ease-in-out;
}

.services__card:hover .services__icon img {
    filter: invert(1);
}