* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-color: #424BD0;
    --dark-text-color: #282943;
    --primery-color: #fff;
    --light-color: rgba(40, 41, 67, 0.15);
    --bg-light-color: #F9F9FF;
    --para-lineheight: 130%;
    --satoshi-regular: Satoshi-regular;
    --satoshi-light: Satoshi-light;
}

@font-face {
    font-family: 'Satoshi-regular';
    src: url('../fonts/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-light';
    src: url('../fonts/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

header .nav,
.hero__container,
.services__container,
.process__container,
.testimonials__container,
.qualities__container,
.global-clients__container,
.case-studies__container,
.contact-cta__container,
.site-footer__container {
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 2rem;
}

header {
    border-bottom: 1px solid var(--light-color);
    position: sticky;
    top: 0;
    background: var(--primery-color);
    z-index: 100;
}

.menu__humbarger {
    width: 36px;
    height: 36px;
    background: var(--bg-light-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    transition: all .2s linear;
}

.menu__humbarger span {
    width: 100%;
    height: 2px;
    background: var(--dark-text-color);
    transition: all .2s linear;
}

.menu__humbarger span:nth-child(1) {
    width: 80%;
}



.menu__humbarger--active.menu__humbarger {
    background: var(--btn-color);
}

.menu__humbarger--active.menu__humbarger span {
    background: var(--primery-color);
}

.menu__humbarger--active.menu__humbarger span:nth-child(1) {
    width: 100%;
}

.menu__humbarger--active.menu__humbarger span:nth-child(2) {
    width: 80%;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu__humbarger {
    display: none;
}

.nav__link {
    text-decoration: none;
    color: var(--dark-text-color);
    font-family: var(--satoshi-regular);
    font-size: 18px;
    font-weight: 500;
}

.nav__link-btn {
    background: #424BD033;
    color: var(--btn-color);
}

.same-btn {
    padding: 9px 22px;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    font-family: var(--satoshi-regular);
    font-size: 18px;
    transition: all .2s ease;
}

.hover__dark {
    background: #424BD033;
    color: var(--btn-color);
}

.hover__dark:hover {
    background: var(--btn-color);
    color: var(--primery-color);
}

.nav__list--mob {
    display: none;
}

/* hero section */
.hero__container {
    padding: 0 5rem;
}

.hero__info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__logos {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.hero__image {
    max-width: 577px;
    width: 100%;
}

.hero__image img {
    width: 100%;
}

.hero__title {
    font-size: 72px;
    font-weight: 700;
    color: var(--dark-text-color);
    font-family: var(--satoshi-regular);
    line-height: 122%;
}

.hero__info {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__desc {
    font-size: 24px;
    font-family: var(--satoshi-regular);
    font-weight: 500;
    color: var(--dark-text-color);
    line-height: 135%;
}

.hero__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 16px;
}

.lets__about {
    background: var(--btn-color);
    color: var(--primery-color);
}

.see__case {
    color: var(--btn-color);
}

.hero__info-wrapper {
    padding-top: 3rem;
}

.hero__clients {
    padding: 5rem 0;
}

.hero__clients-title {
    font-size: 24px;
    font-family: var(--satoshi-regular);
    color: var(--dark-text-color);
    font-weight: 500;
}

.hero__logo {
    position: absolute;
    right: 0;
    top: 0;
}

.hero__logo img {
    width: 28vw;
    transform-origin: top right;
}

.hero {
    position: relative;
}

.hero__container {
    position: relative;
    z-index: 1;
}

/* services section */
.services {
    background: #F9F9FF;
}

.services__container,
.process__container,
.testimonials__container,
.qualities__container,
.global-clients__container,
.case-studies__container,
.contact-cta__container,
.site-footer__container {
    padding: 120px 5rem;
}

.same__heading2 {
    font-size: 46px;
    font-weight: 700;
    font-family: var(--satoshi-regular);
    color: var(--dark-text-color);
}

.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.services__card {
    padding: 40px 52px 40px 40px;
    background: var(--primery-color);
    border-radius: 12px;
    border-bottom-right-radius: 100px;
    transition: all .3s ease-in-out;
}

.services__card-description {
    font-size: 18px;
    font-family: var(--satoshi-light);
    font-weight: 400;
    color: var(--dark-text-color);
    line-height: var(--para-lineheight);
    transition: all .3s ease-in-out;
}

.services__name {
    font-size: 28px;
    font-family: var(--satoshi-regular);
}

.services__card-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.services__card-footer a {
    font-family: var(--satoshi-regular);
    text-decoration: none;
    color: var(--btn-color);
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

.services__card-footer a:hover {
    text-decoration: underline;
}

.services__description {
    font-size: 20px;
    font-family: var(--satoshi-light);
    line-height: var(--para-lineheight);
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 25px;
}

.services__card:hover {
    background: var(--btn-color);
    color: var(--primery-color);
    transform: rotate(-2deg);
    transform-origin: left bottom;
}

.services__card:hover .services__card-footer a {
    color: var(--primery-color);
}

.services__card:hover .services__card-description {
    color: var(--primery-color);
}

.services__icon img {
    transition: all .3s ease-in-out;
}

.services__card:hover .services__icon img {
    filter: invert(1);
}

/* process section */
.process__title {
    text-align: center;
}

.process__subtitle {
    text-align: center;
    font-family: var(--satoshi-light);
    font-size: 20px;
    font-weight: 400;
    max-width: 30ch;
    width: 100%;
    margin: 0 auto;
    color: var(--dark-text-color);
    line-height: var(--para-lineheight);
    margin-top: 16px;
}

.process__steps {
    display: flex;
    justify-content: space-between;
}

.process__step-number {
    font-family: var(--satoshi-regular);
    font-weight: 700;
    font-size: 46px;
    color: var(--btn-color);
}

.schedule__cta {
    text-align: center;
    margin-top: 56px;
}

.process__step-header {
    /* border-top: 2px solid var(--light-color); */
    /* padding-top: 20px; */
    position: relative;
}

.process__linebar {
    width: 100%;
    height: 2px;
    background: var(--light-color);
    position: relative;
}

.process__linebar::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 90%;
    background: var(--btn-color);
    transform: translateY(-50%);
}

.process__linebar span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 9%;
    z-index: 5;
}

.process__linebar span img {
    display: block;
    position: relative;
    z-index: 2;
}

.process__linebar-line1 span {
    right: 7%;
}

.process__step-name {
    font-weight: 500;
    font-size: 22px;
    font-family: var(--satoshi-regular);
    color: var(--dark-text-color);
}

.process__step-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 16px;
}

.process__step-duration {
    font-family: var(--satoshi-regular);
    color: var(--dark-text-color);
    opacity: .7;
    font-size: 18px;
    font-weight: 500;
}

.process__step-description {
    font-family: var(--satoshi-light);
    width: 90%;
    line-height: var(--para-lineheight);
    color: var(--dark-text-color);
    font-size: 18px;
    font-weight: 400;
}

.process__step1 {
    max-width: 300px;
    width: 100%;
    flex-shrink: 0;
}

.process__step-description3,
.process__step-header3 {
    width: 100%;
}

.process__linebar3 {
    width: 100%;
}

.process__linebar3::after {
    width: 100%;
}

.process__linebar3 span {
    right: -5px;
}

.process__step2 {
    max-width: 360px;
    width: 100%;
}

.process__steps {
    margin-top: 120px;
}

.process__linebar {
    margin: 24px 0;
}


/* testimonials section */
.testimonials {
    background: var(--btn-color);
}

.testimonial__text {
    align-content: end;
    background: var(--primery-color);
    padding: 3rem;
    border-radius: 200px 12px 12px 12px;
}

.testimonial__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.testimonial__image img {
    width: 100%;
    border-radius: 12px 12px 200px 12px;
    height: 100%;
    object-fit: cover;
}

.testimonial__number {
    font-size: 80px;
    font-family: var(--satoshi-regular);
    font-weight: 700;
}

.testimonial__stat {
    color: var(--btn-color);
    border-bottom: 1px solid var(--btn-color);
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.testimonial__stat-text {
    font-family: var(--satoshi-regular);
    font-size: 24px;
    font-weight: 500;
    margin-left: 16px;
}

.testimonial__description {
    font-family: var(--satoshi-light);
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-text-color);
    line-height: var(--para-lineheight);
    margin-bottom: 40px;
}

.testimonials__title {
    color: var(--primery-color);
    /* text-align: center; */
}

.testimonials__controls {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.testimonials__controls button {
    width: 64px;
    height: 64px;
    background: var(--primery-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.testimonials__controls-mob {
    display: none;
}

.testimonials__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}


.qualities__container {}

.qualities__image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.qualities__image img {
    height: 100%;
}

.qualities {
    position: relative;
}

.qualities__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.qualities__icon img {
    height: 32px;
    height: 32px;
}

.qualities__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 40px 0;
}

.qualities__text {
    font-size: 20px;
    font-family: var(--satoshi-light);
    font-weight: 400;
    color: var(--dark-text-color);
}

.qualities__icon {
    display: flex;
}

.qualities__title {
    max-width: 20ch;
    width: 100%;
}


.global-clients__container {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.global-clients__image img {
    width: 30vw;
}

.global-clients {
    background: var(--bg-light-color);
}

.global-clients__desc {
    font-size: 20px;
    font-family: var(--satoshi-light);
    font-weight: 400;
    color: var(--dark-text-color);
}

.global-clients__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.global-clients__number {
    font-size: 56px;
    font-family: var(--satoshi-regular);
    font-weight: 700;
    color: var(--btn-color);
}

.global-clients__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px 0;
}

.global-clients__label {
    font-size: 18px;
    font-family: var(--satoshi-regular);
    color: var(--dark-text-color);
    opacity: .7;
}


.case-studies__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.case-studies {
    background: var(--bg-light-color);
}

.case-studies__item {
    background: var(--primery-color);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 30px 0px;
    border-radius: 12px 12px 100px;
    transition: all .3s linear;
}

.case-studies__item>a {
    padding: 40px 52px 40px 40px;
    display: block;

}

.case-studies__item:hover {
    transform: translateY(-10px);
}

.case-studies__subtitle {
    font-size: 28px;
    font-family: var(--satoshi-regular);
    color: var(--dark-text-color);
    line-height: var(--para-lineheight);
    margin: 24px 0;
}

.case-studies__desc {
    font-family: var(--satoshi-light);
    font-size: 18px;
    color: var(--dark-text-color);
    line-height: var(--para-lineheight);
}

.case-studies__link {
    margin-top: 50px;
}

.case-studies__link div {
    color: var(--btn-color);
    font-size: 18px;
    font-family: var(--satoshi-regular);
    text-decoration: none;
    width: fit-content;
}

.case-studies__link div:hover {
    text-decoration: underline;
}

.global-clients__stat {
    padding-top: 80px;
}

.services__cta .bg__dark {
    background: #424BD033;
    color: var(--btn-color);
    transition: all .2s linear;
}

.case-studies__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.services__cta .bg__80:hover {
    background: var(--btn-color);
    color: var(--primery-color);
}



.contact-cta {
    background: url('../assets/20250409_122315.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--btn-color);
    background-attachment: fixed;
    min-height: -783px;
    height: auto;
}

.contact-cta__icon {
    text-align: center;
}

.contact-cta__heading {
    text-align: center;
    color: var(--primery-color);
}

.contact-cta__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-cta__text {
    font-family: var(--satoshi-regular);
    color: var(--primery-color);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.home__contact-btn {
    text-align: center;
}

.home__contact-btn a {
    background: var(--primery-color);
}

.home__contact-btn a:hover {
    color: var(--btn-color);
    background: #D4D6F6;
}



.site-footer {
    background: var(--bg-light-color);
}

.site-footer__container {
    padding-bottom: 0;
}

.site-footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    width: 435px;
}

.footer-contact__info {
    background: var(--primery-color);
    border-radius: 12px 12px 100px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 30px 0px;
    padding: 40px 32px;
    margin-bottom: 24px;
}

.footer-contact__title {
    font-size: 20px;
    font-family: var(--satoshi-regular);
    font-weight: 500;
    color: var(--dark-text-color);
}

.footer-contact__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
    border-bottom: 1px solid var(--light-color);
}

.footer-contact__details a {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-family: var(--satoshi-light);
    font-weight: 400;
    color: var(--dark-text-color);
}

.footer-contact__details a img {
    flex-shrink: 0;
    width: 24px;
}

.footer-column__title {
    font-family: var(--satoshi-regular);
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-text-color);
    line-height: 1;
}

.footer-column,
.footer-column__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
}

.footer-column__list a {
    font-family: var(--satoshi-light);
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-text-color);
}

.site-footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 1px solid var(--light-color);
    margin-top: 120px;
}

.site-footer__credits {
    font-family: var(--satoshi-light);
    font-weight: 400;
    color: var(--dark-text-color);
    font-size: 18px;
}

.site-footer__credits a {
    color: var(--dark-text-color);
}

.site-footer__credits a:hover {
    text-decoration: underline;
}


.qualities__content {
    position: relative;
    z-index: 3;
}


@media only screen and (max-width: 1024px) {
    .hero__title {
        font-size: 40px;
    }

    .hero__desc {
        font-size: 20px;
    }

    .same-btn,
    .nav__link,
    .footer-column__list a {
        font-size: 16px;
    }

    .footer-column__title {
        font-size: 18px;
    }

    header .nav {
        padding: 0 1.5rem;
    }

    .hero__container {
        padding: 0 1.5rem;
    }

    .hero__clients {
        gap: 1rem;
        flex-direction: column;
    }

    .hero__logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services__container,
    .process__container,
    .testimonials__container,
    .qualities__container,
    .global-clients__container,
    .case-studies__container,
    .contact-cta__container,
    .site-footer__container {
        padding: 80px 1.5rem;
    }

    .site-footer__container {
        padding-bottom: 0;
    }

    .hero__image {
        max-width: 577px;
        width: 70%;
    }

    .hero__info-wrapper {
        gap: 15vw;
    }

    .same__heading2 {
        font-size: 35px;
    }

    .global-clients__title {
        max-width: 16ch;
        width: 100%;
    }

    .global-clients__container {
        gap: 2rem;
    }

    .global-clients__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .global-clients__image img {
        width: 100%;
    }

    .global-clients__stat {
        padding-top: 0;
    }

    .case-studies__subtitle {
        font-size: 25px;
    }

    .global-clients__number {
        font-size: 50px;
    }

    .case-studies__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonial__number {
        font-size: 50px;
    }

    .testimonial__text {
        border-radius: 147px 12px 12px 12px;
    }

    .testimonial__image img {
        border-radius: 12px 12px 147px 12px;
    }

    .services__card {
        padding: 40px 20px 40px 20px;
    }

    .services__name {
        font-size: 25px;
    }

    .services__icon img {
        width: 2rem;
    }
}


@media only screen and (max-width: 950px) {
    .hero__info-wrapper {
        gap: 7vw;
        flex-direction: column-reverse;
    }

    .hero__logo img {
        width: 65vw;
    }

    .hero__badge,
    .hero__title,
    .hero__desc {
        text-align: center;
    }

    .hero__buttons {
        justify-content: center;
    }

    .services__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .process__steps {
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        margin: auto;
        margin-top: 80px;
        gap: 25px;
    }

    .process__linebar {
        margin: 20px 0;
    }

    .testimonial__image {
        display: none;
    }

    .testimonial__content {
        display: block;
    }

    .testimonials__controls-mob {
        display: flex;
        margin-top: 16px;
    }

    .testimonials__controls-desk {
        display: none;
    }

    .testimonials__controls button {
        height: 40px;
        width: 40px;
    }

    .testimonial__text {
        border-radius: 116px 12px 12px 12px;
    }

    .testimonial__text {
        padding: 2rem;
    }

    .global-clients__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .global-clients__image {
        text-align: center;
    }

    .global-clients__image img {
        max-width: 560px;
        width: 100%;
        margin: auto;
    }

    .global-clients__title {
        max-width: none;
        width: 100%;
        text-align: center;
    }

    .global-clients__content,
    .qualities__content {
        max-width: 450px;
        width: 100%;
        margin: auto;
    }

    .global-clients__desc,
    .services__cta {
        text-align: center;
    }

    .global-clients__stats {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .global-clients__number {
        font-size: 40px;
    }

    .qualities__image {
        display: none;
    }

    .qualities__text {
        font-size: 18px;
    }

    .same__heading2 {
        font-size: 25px;
    }

    .qualities__title {
        max-width: none;
        text-align: center;
    }

    .qualities__icon img {
        height: 25px;
    }

    .qualities__list {
        margin: 40px auto;
        width: fit-content;
    }

    .case-studies__subtitle {
        font-size: 20px;
    }

    .hero__title {
        font-size: 35px;
    }

    .case-studies__item>a {
        padding: 25px 20px 25px 20px;
    }

    .case-studies__logo {
        margin-bottom: 16px;
    }

    .case-studies__logo img {
        width: 150px;
    }

    .case-studies__header {
        margin-bottom: 40px;
    }

    .site-footer__columns {
        flex-wrap: wrap;
        gap: 5vw;
    }

    .footer-contact {
        max-width: 435px;
        margin: auto;
        width: 100%;
    }

    .site-footer__bottom {
        flex-direction: column;
        gap: 1rem;
    }

    .site-footer__credits {
        font-size: 14px;
    }

    header .nav {
        height: 60px;
    }

    header {
        z-index: 1000;
    }

    .nav__list--desk {
        display: none;
    }

    .nav__list--mob {
        position: fixed;
        max-width: 300px;
        width: 100%;
        background: var(--bg-light-color);
        right: 1.5rem;
        top: -100%;
        flex-direction: column;
        border-radius: 8px;
        border: 1px solid var(--light-color);
        transition: all .4s linear;
        z-index: 5;
        display: flex;
    }

    .nav__list--active.nav__list {
        top: 70px;
    }

    .nav__menu {
        gap: 23px;
    }

    .nav__list {
        gap: 0;
    }

    ul .nav__link {
        padding: 10px 0;
        display: block;
        border-bottom: 1px solid var(--light-color);
        text-align: center;
    }

    .nav__item {
        width: 100%;
    }

    .site-footer__bottom {
        margin-top: 80px;
    }

    .menu__humbarger {
        display: flex;
        cursor: pointer;
    }
}


@media only screen and (max-width: 768px) {
    .services__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .case-studies__header {
        flex-direction: column;
        gap: 16px;
    }

    .hero__logos {
        gap: 6vw;
    }

    .footer-contact__info {
        border-radius: 12px 12px 76px;
    }
}


@media only screen and (max-width: 425px) {
    .btn-desk-nav {
        display: none;
    }
}